.sidebar {
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.sidebar h2 {
    color: white;
}

.sidebar-scroll {
    overflow-y: scroll;
    flex: 1;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: relative;
    max-width: 100vw;
}

.sidebar-scroll::-webkit-scrollbar {
    display: none;
}