.about-section {

    padding: 0 2rem;
}

.about-heading {
    margin: 0;

}

.about-description {
    color: #a3a3a3;
    font-family: "Arial", sans-serif;
    /*max-width: 26rem;*/
    /*max-width: max(26rem, 60%);*/
    max-width: 26rem;
    margin: 0;
}

.about-current {
    color: white;
    font-family: "Arial", sans-serif;
    /* font-style: italic; */
}

.about-company {
    font-weight: 600;
    font-style: italic;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.about-company-at {
    text-decoration: none !important;
}

.about-company:hover {
    text-decoration: underline;
}

@media (max-width: 66rem) {
    .about-description {
        max-width: max(26rem, 60vw);
    }
}