.education-section {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    padding: 0 2rem; 
    font-family: "Arial", sans-serif;
}

.education-section p {
    margin: 0;
}

.education-years {
    color: #a3a3a3;
    padding-bottom: 0.25rem;
}

.university {
    color: #a3a3a3;
    padding-top: 0.25rem;
    font-size: 0.875rem;
}

.education-heading {
    margin-bottom: 0rem;
}

.transcript-link {
    margin-top: 1rem;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    width: max-content;
    position: relative;
    font-size: 0.875rem;
}

.arrow-icon {
    height: 1.25rem;
    position: absolute;
    top: -0.25rem;
}

.recipient {
    padding-top: 0.5rem;
    color: #a3a3a3;
    font-size: 0.875rem;
}